/* @media screen and (max-width: 1000px) and (min-width: 700px) {
    .nav ul {
        width: 100%;
        height: 100vh;
        text-align: center;
        position: relative;
        background: white;
        left: -150%;
        transition: 0.5s;
    }
    .nav ul li {
        display: block;
    }
    .nav .hambarger {
        display: block;
    }
    .nav .logo-title-container {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .nav ul li,
    .nav .company-title,
    .nav .logo-title-container {
        line-height: 40px;
        font-size: 1rem;
    }
    #company-logo {
        width: auto;
    }
    .banner {
        background-position: center;
        height: 100vw;
    }
    .banner .banner-description {
        width: 100%;
    }


  
} */

@media screen and (max-width: 600px) {

    /* .nav ul  {
        height: 50px;
    } */
    .nav {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav ul {
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        background: white;
        left: -150%;
        transition: 0.5s;
    }

    .nav ul li {
        display: block;
    }

    .nav .hambarger {
        display: block;
    }

    .nav .logo-title-container {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .nav ul li,
    .nav .company-title,
    .nav .logo-title-container {
        line-height: 40px;
        font-size: 1rem;
    }

    #company-logo {
        width: auto;
    }

    .banner {
        background-position: center;
        /* height: 650px; */
        /* padding: 10px; */
        height: auto;
        padding-bottom: 32px;
    }

    .banner .banner-description {
        /* width: 100%; */
    }

    .banner .banner-form {
        flex-direction: column;
        gap: 15px;
    }

    .banner .banner-title {
        padding-top: 50px;
    }

    .banner .banner-paragraph {
        padding-top: 8px;
    }

    .banner .banner-form {
        margin-top: 30px;
    }

    /* .banner .banner-description,
    .banner-banner-form {
        width: 90vw;
        text-align: center;
    } */
    .banner .banner-description .banner-title {
        font-size: 1.37rem;
    }

    .banner .banner-description .banner-paragraph {
        font-size: 0.875rem;
    }

    .main .popular-tours {
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .main .popular-tours .description,
    .main .popular-tours .image {
        width: 100%;
    }

    .common-title {
        font-size: 1.25rem;
    }

    .destination {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .image-one,
    .image-two,
    .image-three,
    .image-four,
    .image-five,
    .image-six,
    .image-seven {

        height: 175px;
    }

    .destination .images-1,
    .destination .images-2,
    .destination .images-3,
    .destination .images-4,
    .destination .images-5,
    .destination .images-6,
    .destination .images-7 {
        height: 175px;
    }



    .place-text {
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .destination .text-1 {
        top: 70px;
        left: 110px;
    }

    .destination .text-2 {
        top: 75px;
        left: 110px;
    }

    .destination .text-3 {
        top: 70px;
        left: 110px;
    }

    .destination .text-4 {
        top: 80px;
        left: 80px;
    }

    .destination .text-5 {
        top: 70px;
        left: 110px;
    }

    .destination .text-6 {
        top: 70px;
        left: 100px;
    }

    .destination .text-7 {
        top: 70px;
        left: 100px;
    }

    .why-chose-us-blocks .part-one {
        flex-direction: column;
        gap: 15px;
    }

    .why-chose-us-blocks .block-one,
    .why-chose-us-blocks .block-two,
    .why-chose-us-blocks .block-three {
        height: auto;
        width: 100%;
    }

    .why-chose-us .common-title {
        padding-bottom: 10px;
    }

    .why-chose-us {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .why-chose-us-blocks .part-one .block-one .image,
    .why-chose-us-blocks .part-one .block-two .image,
    .why-chose-us-blocks .part-two .block-three .image {
        margin-bottom: 16px;
    }

    .deals-and-discounts .image .white-part-container-one,
    .deals-and-discounts .image .white-part-container-two,
    .deals-and-discounts .image .white-part-container-three {
        width: 90%;
        /* height: 50%; */
        margin: 0;
        padding: 15px;
        float: none;
        margin: 0 auto;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }

    .small-tags {
        flex-wrap: wrap;
    }

    .deals-and-discounts .image .image-1,
    .deals-and-discounts .image .image-2,
    .deals-and-discounts .image .image-3 {
        background-position: center;
        position: relative;
    }

    .deals-and-discounts .image .small-tags {
        flex-wrap: wrap;
        gap: 5px;
    }

    .deals-and-discounts .description-part .second-title {
        font-size: 1.25rem;
    }

    .deals-and-discounts .image .description-part .common-paragraph {
        font-size: 0.875rem;
    }

    .deals-and-discounts .description-part .price {
        font-size: 1rem;
    }

    .deals-and-discounts .image .description-part .common-button {
        width: 120px;
        height: 40px;
    }

    .deals-and-discounts .image .second-title {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .documentary {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 24px;
    }

    .deals-and-discounts {
        margin: 24px auto;
    }

    .documentary .description {
        max-width: 100%;
    }

    .documentary .video {
        width: 100%;
    }

    .sign-up {
        flex-direction: column;
    }

    .sign-up .left,
    .sign-up .right {
        width: 100%;
    }

    .sign-up .left input[type="text"],
    .sign-up .left input[type="email"],
    .sign-up .left .subscribe-button {
        width: 100%;
    }

    .sign-up .left .subscribe-button {
        margin-bottom: 10px;
    }

    footer .footer-container {
        width: 81vw;
    }

    .sign-up .right .save-up {
        border-radius: 10px;
        width: 214px;
        height: 79px;
        transform: rotate(-19.628deg);
        position: absolute;
        bottom: 32px;
        left: 60px;
        text-align: center;
        padding-top: 10px;
    }

    .sign-up .right .save-up p {
        font-size: 15.854px;
        font-weight: 400;
    }

    .sign-up .right .save-up h2 {
        font-size: 21.138px;
        font-weight: 800;

    }
}